/*
// arnAu bellavista 2023
// elecSim
// Estils CSS Generals
*/

/* VARIABLES ESTILS ROOT 00 Base */
:root {	
	/* Marges */
	--marge-quart: 5px;
	--marge-mig: 10px;
	--marge: 20px;
	--marge-doble: 40px;
	/* Colors */
	--color-fons: #2f324c;
	--color-text: #eeeeee;
	--color-primer: #ea5755;
	--color-segon: #7a4150;
	--color-gris-fosc: #666666;
	--color-gris-clar: #bcbcbc;
	/* Transició */
	--transicio: 0.2s;
}

/* Estils generals */
@media all{
	body {
		margin: var(--marge);
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 2px;
		color: var(--color-text);
		background-color: var(--color-fons);
		transition: var(--transicio);
	}
	a { color: var(--color-primer); text-decoration: none; }
	a:link { color: var(--color-primer); text-decoration: none; }
	a:visited { color: var(--color-primer); text-decoration: none; }
	a:active { color: var(--color-segon); text-decoration: none; }
	a:hover { color: var(--color-segon); text-decoration: none; }
	
	header,
	article{
		margin: 0 auto;
		max-width: 800px;
	}

	hr{
		border: 1px solid var(--color-primer);
	}

	h1{
		color: var(--color-primer);
	}

	.alineaEsquerra{
		text-align: left;
	}
	.alineaDreta{
		text-align: right;
	}
	
	.dadeses{
		margin-right: var(--marge);
		white-space: nowrap;
	}
	
	.inputes{
		margin: 0 var(--marge-mig) var(--marge-mig) 0;
		padding: var(--marge-quart) var(--marge-mig);
		font-size: 14px;
		letter-spacing: 2px;
		color: var(--color-text);
		background-color: transparent;
		border: 1px solid var(--color-segon);
		border-radius: 4px;
	}
	.inputes:hover{
		color: var(--color-text);
		background-color: var(--color-segon);
	}
	.inputes:hover::placeholder{
		color: var(--color-gris-clar);
	}
	.inputes:focus{
		color: var(--color-fons);
		background-color: var(--color-primer);
		outline: none;
	}
	.inputes:focus::placeholder{
		color: var(--color-segon);
	}
	
	.selectes{
		padding: var(--marge-quart) var(--marge-mig);
		color: var(--color-text);
		background-color: var(--color-fons);
		border: 1px solid var(--color-segon);
	}
	.selectes option{
		padding: var(--marge-quart) var(--marge-mig);
	}
	
	/* Taula */
	.taulaes{
		width: 100%;
		border-collapse: collapse;
	}
	.taulaes td, .taulaes th{
		margin: 0;
		height: 42px;
	}
	.taulaes th{
		padding: 0 var(--marge-mig) 0 var(--marge-mig);
	}
	.taulaes td{
		font-size: 14px;
		border-top: 1px solid var(--color-segon);
	}
	.votsAltres{
		padding-left: var(--marge-mig);
	}
	
	.inputTaula{
		height: 30px;
		margin: 0;
		padding: var(--marge-quart) var(--marge-mig);
		background-color: transparent;
		border: 0;
		border-radius: 0;
	}
	.inputTaula:focus{
		outline: none;
	}
	.candidatura{
		width: 200px;
	}
	.vots,
	.votsBlancs,
	.votsNuls{
		width: 80px;
		text-align: right;
	}
	.percent{
		min-width: 100px;
	}
	.electes{
		font-weight: bold;
		text-align: center;
	}
	
	.candEliminar{
		margin: 0 var(--marge-mig);
		padding: 0;
		font-size: 18px;
		color: var(--color-primer);
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}
	.candEliminar:hover{
		color: var(--color-text);
	}
	.candEliminar:active{
		color: var(--color-segon);
	}
	
	.buttones{
		margin: 0;
		padding: var(--marge-mig) var(--marge-mig);
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 2px;
		color: var(--color-primer);
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}
	.buttones:hover{
		color: var(--color-text);
		background-color: var(--color-segon);
	}
	.buttones:active{
		background-color: var(--color-segon);
	}

	/* .buttones ANTERIOR
	.buttones{
		margin: var(--marge-mig);
		padding: var(--marge-mig) var(--marge);
		font-size: 14px;
		letter-spacing: 2px;
		color: var(--color-fons);
		background-color: var(--color-gris-clar);
		border: 0;
		border-radius: 2px;
		cursor: pointer;
	}
	.buttones:hover{
		background-color: var(--color-primer);
	}
	.buttones:active{
		color: var(--color-text);
		background-color: var(--color-segon);
	}
	*/

	/* DRAG AND DROP */
	.pista > .dragIcon{
		font-size: 18px;
		color: var(--color-gris-fosc);
	}
	.pista:hover .dragIcon{
			color: var(--color-gris-fosc);
		}
		.pista > .dragIcon:hover{ cursor: grab; }
		.pista > .dragIcon:active{ cursor: grabbing; }
	.pistaAvall{
		border-top: 4px solid var(--color-gris-fosc);
		transform: translate(0, 4px);
	}
	.pistaAmunt{
		border-bottom: 4px solid var(--color-gris-fosc);
		transform: translate(0, -4px);
	}
	
}










@media all and (max-width: 816px){

}







@media all and (max-width: 640px){
	.candidatura{
		width: 100px;
	}
	.vots,
	.votsBlancs,
	.votsNuls{
		width: 50px;
	}
}






@media all and (max-width: 440px){

}

